.header {
  position: relative; 
  width: 100%; height: 60px; 
  display: flex; 
  align-items: center; 
  padding-left: 20px;
}

.logo {
  font-family: 'DM Serif Text', serif; 
  font-style: italic; 
  font-weight: 400; 
  font-size: 24px; 
  font-weight: bold; 
  color: #333; 
  text-transform: lowercase;
}

.big-words {
  font-family: "Wittgenstein", serif;
  font-optical-sizing: auto;
  font-style: italic;
  font-size: large;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}