* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html, body {
  height: 100%;
  background-color: #ebe8d0;
}

body {
  font-family: 'Noto Serif', serif;
  display: flex;
  min-height: 100vh;
  margin: 0;
}

.container {
  display: flex;
  width: 100%;
}

.sidebar {
  width: 10%; /* Adjust as needed */
  background-color: #e4d5b7;
  padding: 20px;
  height: 100vh;
  box-shadow: none;
  position: relative;
}


.logo h1 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: italic;
}

.sidebar-menu {
  list-style-type: none;
  padding: 0;
}

.sidebar-menu li {
  margin-bottom: 10px;
}

.sidebar-menu li a {
  color: #333;
  font-size: 16px;
}

.main-content h1 {
  font-family: 'PT Serif', serif;
}

.main-content {
  display: flex;
  flex: 1;
  padding: 40px;
  overflow-y: auto;  
  justify-content: center;
  height: 100vh; /* Full viewport height */
  align-content: center;
}

.main-content img[src='assets/giphy.gif'] {
  max-width: 15%; /* Make the image 25% smaller */
  max-height: 20vh; /* Adjust height as needed */
  filter: invert(100%); /* Invert the colors of the image */
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.main-content article img {
  max-width: 75%;
  max-height: 75%;
}

.main-content article {
  font-family: 'Times New Roman', serif;
  line-height: 1.6;
  display: block;
  align-content: normal;
}

.main-content h2 {
  color: #333;
}

.main-content p {
  color: #666;
}


/* Additional CSS for the separator line */
.separator {
  border: none;
  border-top: 1px solid #ccc;
  margin: 20px 0;
}

@media (max-width: 768px) {
  body {
    flex-direction: column;
  }

  .container {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    height: auto;
    box-shadow: none;
  }

  .sidebar::before {
    display: none;
  }

  .logo h1, .blog-name h2 {
    text-align: center;
  }

  .sidebar-menu {
    text-align: center;
  }
}
